{% extends 'owner/base.html' %}

{% block content %}
    {% load crispy_forms_tags %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">
                        <h3><b>Checkout User</b></h3>
                        <form action="{% url 'order' pk %}" method="post" >
                            {% csrf_token %}
                            <table class="table">
                                {{ form|crispy }}
                            </table>
                            <input type="submit" class="btn btn-success btn-block">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}