{% extends 'owner/base.html' %}

{% block content %}
    <div class="container mt-5">
       <div class="row">
           <div class="col-lg-6 mx-auto">
               <div class="card shadow-sm">
                   <div class="card-body">
                       <form action="{% url 'login' %}" method="post">
                           {% csrf_token %}
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="loginusername" name="loginusername" aria-describedby="emailHelp" required>
                            </div>

                            <div class="form-group">
                                <label for="password">conform Password</label>
                                <input type="password" class="form-control" id="loginpassword" name="loginpassword" required>
                            </div>
                             <button type="submit" class="btn btn-primary btn-block">Login</button>
                        </form>
                   </div>
               </div>
           </div>
       </div>
    </div>

{% endblock %}